{% extends '@admin/Page/page.html.twig' %}

{% block mainContainer %}

    <table class="table table-striped table-bordered table-hover" id="table">

        <thead>

            <tr>

                <th colspan="2">

                <h3>
                    <span id="editable-control">
                        <button class="btn btn-warning" onclick="enableEdit();" >
                        <i class="icon-pencil icon-white"></i> Edit
                        </button>
                    </span>
                    {{ configSection }}
                </h3>

                </th>

            </tr>

        </thead>

        <tbody id="config-list">

            {% for item in configItems %}

                <tr id="tr-config-{{ item.getId() }}">

                    <td style = "width: 500px;">

                        <p><strong>{{ item.getDisplayName() }}</strong></p>

                        <p class="help-block">{{ item.getDisplayHelp() }}</p>

                    </td>

                    <td data-id="{{ item.getId() }}">{{ item.getValue() }}</td>

                </tr>

            {% endfor %}

        </tbody>

    </table>

<script>
function enableEdit()
{
    var grid = $("#table");
    var fields = $("#table td[data-id]");
    $.each(fields, function (index, f){
        var field = $(f);
        var id = field.attr("data-id");
        var value = field.html();
        field.attr("data-value", value);
        field.html(
            '<input type="text" class="span6" name="'+id+'" value="'+value+'"/>'
        );
    });
    var html = "<button class='btn btn-primary' "
        + "onclick='saveEditable()'>Save</button>"
        +" <button class='btn' onclick='cancelEditable()'>Cancel</button>";
    $('#editable-control').html(html);
}

function cancelEditable()
{
    var fields = $("#table td[data-id]");
    $.each(fields, function (index, f){
        var field = $(f);
        var value = field.attr("data-value");
        field.html(value);
    });
    var html = "<button class=\"btn btn-warning\" "
        + "onclick=\"enableEdit();\" >"
        + "<i class=\"icon-pencil icon-white\"></i> Edit"
        + "</button>";
    $('#editable-control').html(html);
}

function saveEditable(gridId, controlId)
{
    var html = "<img src='/images/lb-load.gif' width='16' height='16' />";
    $('#editable-control').html(html);
    var inputs = $("#table td[data-id] input");
    var vals = {};
    $.each(inputs, function (index, f){
        var field = $(f);
        vals[field.attr("name")] = field.val();
    });
    var fields = $("#table td[data-id]");
    $.each(fields, function (index, f){
        var field = $(f);
        var value = field.find('input').val();
        field.html(value);
    });
    $.ajax({
        url: '/admin/configsave/' + "/model/{{ modelName }}",
        data: {data: vals},
        success: function(r){
            var html = "<button class=\"btn btn-warning\" "
                + "onclick=\"enableEdit();\" >"
                + "<i class=\"icon-pencil icon-white\"></i> Edit"
                + "</button>";
            if (!r.success) {
                html += " - Error for saving data.";
            }
            $('#editable-control').html(html);
        },
        failure: function(){
            var html = "<button class=\"btn btn-warning\" "
                + "onclick=\"enableEdit();\" >"
                + "<i class=\"icon-pencil icon-white\"></i> Edit"
                + "</button> - Error with server connection";
            $('#editable-control').html(html);
        }
    });
}
</script>

{% endblock %}