{% extends '@admin/Page/page.html.twig' %}

{% block mainContainer %}

<div class="row">

    <div class="span9">

        <div class="accordion-group">

            <div class="accordion-heading">

                <a class="accordion-toggle"
                    data-toggle="collapse"
                    data-target="#contact-subscriptions"
                    href="javascript:void();"
                    style="background-color: #F5F5F5">Subscriptions</a>

            </div>

            <div id="contact-subscriptions" class="accordion-body collapse in">

                <div class="accordion-inner">

                    <h4>Alerts</h4>

                    {{ grid.grid(alertsGrid) }}

                    <h4>Newsletters</h4>

                    {{ grid.grid(newslettersGrid) }}

                </div>
            </div>

            <div class="accordion-heading">

                <a class="accordion-toggle"
                    data-toggle="collapse"
                    data-target="#contact-log"
                    href="javascript:void();"
                    style="background-color: #F5F5F5">Audit Trail</a>
            </div>

            <div id="contact-log" class="accordion-body collapse in">

                <div class="accordion-inner">

                    <h4>Alert History</h4>

                    {{ grid.grid(operationsGrid) }}

                </div>

            </div>

        </div>

    </div>

    <div class="span4">

        <h4>Contact Info</h4>

        <div class="accordion-inner">

            <span>{{ contact.getEmail() }}</span><br/>

            <span>{% if contact.getName() %}{{ contact.getName() }}{% else %}<em class="muted">*name not specified*</em>{% endif %}</span><br/>

        </div>

        <div class="accordion-group">

            <div class="accordion-heading">

                <a class="accordion-toggle"
                    data-toggle="collapse"
                    data-target="#contact-info"
                    href="javascript:void();"
                    style="background-color: #F5F5F5">Contact Info</a>
            </div>

            <div id="contact-info" class="accordion-body collapse in">

                <div class="accordion-inner">

                    <strong class="span2">Status:</strong>

                    <span>

                        <strong class="{{ contactStatusClass }}">{{ contact.getContactStatus() }}</strong>

                    </span><br/>

                    <strong class="span2">Joined:</strong>

                    <span>{{ contact.getCreatedDate() }}</span><br/>

                    <strong class="span2">Last Activity:</strong>

                    <span>{{ lastActivity }}</span>

                </div>

            </div>

            <div class="accordion-heading">

                <a class="accordion-toggle"
                    data-toggle="collapse"
                    data-target="#contact-send"
                    href="javascript:void();"
                    style="background-color: #F5F5F5">Sending Info</a>

            </div>

            <div id="contact-send" class="accordion-body collapse in">

                <div class="accordion-inner">

                    <strong class="span2">User Timezone</strong>

                    <span>{%if contact.getUserTimezone() %}{{ contact.getUserTimezone() }}{% else %}<em class="muted">none</em>{% endif %}</span><br/>

                    <strong class="span2">Send Timezone</strong>

                    <span>{%if contact.getUserTimezone() %}{{ contact.getUserTimezone() }}{% else %}<em class="muted">none</em>{% endif %}</span><br/>

                    <strong class="span2">Last Send</strong>

                    <span>{%if lastSend %}{{ lastSend }}{% else %}<em class="muted">none</em>{% endif %}</span><br/>

                </div>

            </div>

            <div class="accordion-heading">

                <a class="accordion-toggle"
                    data-toggle="collapse"
                    data-target="#contact-address"
                    href="javascript:void();"
                    style="background-color: #F5F5F5">Contact Address</a>

            </div>

            <div id="contact-address" class="accordion-body collapse in">

                <div class="accordion-inner">

                    <strong class="span1">Country:</strong>

                    <span>{%if contact.getCountry() %}{{ contact.getCountry() }}{% else %}<em class="muted">none</em>{% endif %}</span></br>

                    <strong class="span1">State:</strong>

                    <span>{%if contact.getState() %}{{ contact.getState() }}{% else %}<em class="muted">none</em>{% endif %}</span></br>

                    <strong class="span1">City:</strong>

                    <span>{%if contact.getCity() %}{{ contact.getCity() }}{% else %}<em class="muted">none</em>{% endif %}</span></br>

                    <strong class="span1">Zip:</strong>

                    <span>{%if contact.getZip() %}{{ contact.getZip() }}{% else %}<em class="muted">none</em>{% endif %}</span></br>

                    <strong class="span1">Address:</strong>

                    <span>{%if contact.getAddress() %}{{ contact.getAddress() }}{% else %}<em class="muted">none</em>{% endif %}</span></br>

                </div>

            </div>

        </div>

    </div>

</div>

{% endblock %}
