{% extends '@admin/Page/page.html.twig' %}

{% block mainContainer %}

    {{ m.pageTitle(title) }}

    <table class="table">

        <tbody>

            {% for title, value in message %}

                <tr>

                    <td>{{ title }}</td>

                    <td>{{ value|nl2br }}</td>

                </tr>

            {% endfor %}

            <tr>

                <td>Body HTML</td>

                <td>{{ bodyIframe|raw }}</td>

            </tr>

        </tbody>

    </table>

{% endblock %}
