{% extends 'main.html.twig' %}

{% set bodyClass = 'aboutPage' %}
{% set breadcrumbs = null %}

{% block mainContainer %}
<div id="main">
    <h2 class="titleHeading">{{ page.getTitle() }}</h2>
    <div class="importantmsg"></div>
    <div id="errorMessage" style="color: red; margin: 0 0 18px 4px;">
        {% if successUpdate and errorMessages|length == 0 %}
            <span>Your alert has been updated.</span>
        {% endif %}
    </div>

    <div class="content">
        <form action="" method="post">

            <div class="formBlock">
                <label for='alertQuery'>Keywords</label>
                <input type="text" class="input" name="query" id="alertQuery" value="{{ alert.getQueryTerms() }}"
                           style="width: 50%;">
                {% if errorMessages['query'] %}
                    <ul>
                        <li class="errors" style="margin-left:160px;">{{ errorMessages['query']|raw }}</li>
                    </ul>
                {% endif %}
            </div>
            <div class="formBlock">
                <label for='alertLocation'>Location</label>
                <input type="text" class="input" name="location" id="alertLocation" value="{{ alert.getLocation() }}"
                           style="width: 50%;" autocomplete="off" >
                <script>$(function(){new GetIt.Location('alertLocation', 'suggestionsP');});</script>
                {% if errorMessages['location'] %}
                    <ul>
                        <li class="errors" style="margin-left:160px;">{{ errorMessages['location']|raw }}</li>
                    </ul>
                {% endif %}
            </div>
            <div class="formBlock">
                <label for='alertDistance'>Distance</label>
                <select name="distance" id="alertDistance" style="width: 50%;">
                    <option value="0" {% if alert.getDistance() == 0 and alert.getLocation() != '' %}selected{% endif %}>exact</option>
                    <option value="5" {% if alert.getDistance() == 5 %}selected{% endif %}>within 5 miles</option>
                    <option value="10" {% if alert.getDistance() == 10 %}selected{% endif %}>within 10 miles</option>
                    <option value="15" {% if alert.getDistance() == 15 %}selected{% endif %}>within 15 miles</option>
                    <option value="25" {% if alert.getDistance() == 25 or alert.getLocation() == '' %}selected{% endif %}>within 25 miles</option>
                    <option value="50" {% if alert.getDistance() == 50 %}selected{% endif %}>within 50 miles</option>
                    <option value="100" {% if alert.getDistance() == 100 %}selected{% endif %}>within 100 miles</option>
                </select>
            </div>
            <div class="formBlock">
                <label for='alertQuery'>Deliver:</label>
                    <input type="radio" id="alertDaily" name="alertType" value="{{ constant('Model_Alert::TYPE_DAILY') }}"
                        {% if alert.getAlertType() == constant('Model_Alert::TYPE_DAILY') %}checked=""{% endif %}/>
                    <label for="alertDaily" style="width: 80px;">Daily</label>

                    <input type="radio" id="alertWeekly" name="alertType" value="{{ constant('Model_Alert::TYPE_WEEKLY') }}"
                        {% if alert.getAlertType() == constant('Model_Alert::TYPE_WEEKLY') %}checked=""{% endif %}
                        />
                    <label for="alertWeekly" style="width: 80px;">Weekly</label>
                <div class="clear"></div>
            </div>
            <div class="formBlock">
                <button type="submit" name="submit">Save Changes</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}