{% extends 'main.html.twig' %}

{% set bodyClass = 'aboutPage' %}
{% set breadcrumbs = null %}

{% block mainContainer %}
<div id="main">
    <h2 class="titleHeading">{{ page.getTitle() }}</h2>
    <div class="importantmsg"></div>
    {% if not confirm %}

    <div class="formBlock">
      <form action="" method=post>
          <input type="hidden" name="confirm" value="yes">
          <button type="submit" name="submit">Cancel Alert</button>
      </form>
    </div>
    {% else %}

              <p>Your alert was successfully canceled</p>

    {% endif %}

</div>
{% endblock %}