/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
  height: 60px;
}
#footer {
  background-color: #f5f5f5;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.container-fluid .credit {
  margin: 20px 0;
}
/* -------------------------------------------------- */

.dotted { border-bottom:1px dashed; }

.feedtotalup {
    color: green;
}

.feedtotaldown {
    color: red;
}

.widgetUserSearch input {
    margin-bottom: 5px;
}

.pagination {
    margin: 0;
    padding: 14px 0 22px 0;
    float: right;
}

.pagination span {
    line-height: 30px;
}
.pagination select{
	margin: 0;
    width: 70px;
}

.paginationBlock {
    vertical-align: middle;
}

.clear {
    clear: both;
}

.yellow {
    color: #ddb300;
}

.green {
    color: #46a546;
}

.red {
    color: #9d261d;
}

.table {
    clear:both;
}
#site-list ul {
   margin-bottom: 0px;
}

ul.twitter-messages {
    list-style: none;
}

ul.twitter-messages span.new {
    color: white;
    background-color: #bb4444;
    border-radius: 5px 5px 5px 5px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 0.7em;
}

ul.twitter-messages span.name {
    color: #333333;
    font-style:italic;
    font-size: 0.7em;
}

.totalNumber {
    display: inline;
    float: right;
    font-weight: bold;
    padding: 10px 0 0;
}

.nowrap {
    white-space: nowrap;
}

.form-horizontal .control-group.small-margin {
    margin-bottom: 10px;
}

.without-margin {
    margin: 0 !important;
}

.btn-add {
    margin-left: 8px;
    width: 96px;
}

.btn-feature {
    width: 65px;
}

.btn-feature-add {
     width: 65px;
     margin-left: 8px;
}


.elementColumn {
    float: left;
    width: 50%;
}

.edit.btn-group:after {
    clear: none;
}

.single-button {
    float:left;
    margin-right:10px;
}

.placeholders-table {
    height: 395px;
    overflow-y: auto;
    width: 270px;
    border: 1px solid #CCCCCC;
    border-radius: 3px 3px 3px 3px;
    -moz-transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    float: left;
    margin-left: 50px;
}

.placeholders-table table {
    margin-bottom: 0;

}

.placeholders-table td + td,  .placeholders-table th + th{
    border-left: 1px solid #DDDDDD;

}
.placeholders-table td, .placeholders-table th {
     border-bottom: 1px solid #DDDDDD;
}
.placeholders-table caption {
    line-height: 30px;
    margin-left: 10px;
    text-align: left;
}
.placeholder-manage {
    padding: 0 2px 0 3px;
}
.display-name {
    font-size: 16px;
    font-weight: bold;
}

.display-help {
    font-size: 10px;
    font-style: italic;
}

.edit-template input, .edit-template textarea {
    width: 500px;
}
.edit-template select {
    width: 510px;
}
table.table thead .sorting,
table.table thead .sorting_asc,
table.table thead .sorting_desc,
table.table thead .sorting_asc_disabled,
table.table thead .sorting_desc_disabled {
    cursor: pointer;
    *cursor: hand;
}

table.table thead { background-color: #f5f5f5; }
table.table thead .sorting { background: url('/assets/img/sort_both.png') no-repeat center right #f5f5f5; }
table.table thead .sorting_asc { background: url('/assets/img/sort_asc.png') no-repeat center right #f5f5f5; }
table.table thead .sorting_desc { background: url('/assets/img/sort_desc.png') no-repeat center right #f5f5f5; }
table.table tfoot { background-color: #f5f5f5; }

span.fieldId {display:none;}

.errors {
    color:red;
}

.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
  background-color: #FFFFCC;
}