{% set rss = page.getRss() %}
{% set canonical = page.getCanonical() %}

<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

    <head>

        <title>{{ page.getMetaTitle() }}</title>

        <meta name="keywords" content="{{ page.getMetaKeywords() }}">

        <meta name="description" content="{{ page.getMetaDescription() }}">

        <meta charset="UTF-8">

        <meta http-equiv="Content-Type" content="text/html;charset=utf-8">

        <meta name="robots" content="index, follow">

        <meta name="robots" content="All">

        <link rel="shortcut icon" type="icon" href="/icon/niche.ico">

        <link rel="stylesheet" type="text/css" href="/skins/niche/css/niche.css">

        <link rel="stylesheet" type="text/css" href="/css/suggestion.css">

        <script type="text/javascript" src="/skins/niche/js/modernizr.min.js"> </script>

        <script type="text/javascript" src="/skins/niche/js/jquery.min.js"> </script>

        <script type="text/javascript" src="/skins/niche/js/jquery.placeholder.min.js"> </script>

        <script type="text/javascript" src="/skins/niche/js/jQuery.styledSelect.min.js"> </script>

        <script type="text/javascript" src="/js/jquery.js"> </script> {# jQuery form plugin #}

        <script type="text/javascript" src="/js/detail-niche.js"> </script>
        <script type="text/javascript" src="/js/location.js"> </script>

        <script src="http://www.google.com/jsapi"> </script>

        <script type="text/javascript" charset="utf-8">
            google.load('ads.search', '2');
        </script>

        <script type="text/javascript">

            (function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) {return;}
                js = d.createElement(s); js.id = id;
                js.src = "http://connect.facebook.net/en_US/all.js#xfbml=1";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));

            (function() {
                var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                po.src = 'https://apis.google.com/js/plusone.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
            })();

        </script>

        <meta name="msvalidate.01" content="{{ bingVerificationCode }}" >

        <meta name="google-site-verification" content="{{ googleVerificationCode }}" >

        {% if rss %}
             <link href="{{ rss }}" rel="alternate" type="application/rss+xml" >
        {% endif %}

        {% if canonical %}
            <link href="{{ canonical }}" rel="canonical" >
        {% endif %}

        {% block facebookJsLib %}{% endblock %}

        {% block head %}{% endblock %}

        {% if enableAnalyticTracking %}
            <script type="text/javascript">
              var _gaq = _gaq || [];
              _gaq.push(
                ['_setAccount', 'UA-1408252-24'],
                ['_trackPageview'],
                ['b._setAccount', '{{ GOOGLE_ANALYTICS }}'],
                ['b._trackPageview']
              );
              (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
              })();
            </script>
        {% endif %}

    </head>

    <body id="mainLayout" class="{{ bodyClass }} get-dhtml">

        {{ bodyScripts }}

{%  spaceless %}

        <div class="notificationTop">

            <div class="inner">

                <p>Help other {{ SITE_NICHE }} professionals {% if location %} in {{ location }} {% endif %} find work - share this site!</p>

                 <div class="buttons">

                    <div class="fb-like" data-href="http://{{ domain }}" data-send="false" data-layout="button_count" data-width="80" data-show-faces="false"></div>

                    <div class="tweet"><a href="https://twitter.com/share" class="twitter-share-button" data-url="http://{{ domain }}" data-count="horizontal">Tweet</a></div>

                    <script type="text/javascript" src="http://platform.twitter.com/widgets.js"> </script>

                    <div class="google"><g:plusone size="medium" href="http://{{ domain }}"></g:plusone></div>

                </div>

                <div class="clear"></div>

                <span class="tail"></span>

            </div>

        </div>

        <div id="wrapper">

            <header>

                <div class="inner">

                    <a href="http://{{ domain }}/"><span>Get</span> {{ SITE_NICHE }} Jobs</a>

                    <ul class="topMenu">

                        <li>Employers » <a href="http://{{ domain }}/employers/post-job.php">Post Jobs</a><sup>Free!</sup></li>

                        <li>&nbsp;| Job Seekers » <a href="http://{{ domain }}/job-seekers/job-search.php">Search Jobs</a></li>

                    </ul>

                </div>

                <ul class="mainMenu noSubMenu">
                    <li class=""><a href="http://{{ domain }}/employers/post-job.php">Employers</a></li>
                    <li class=""><a href="http://{{ domain }}/job-seekers/job-search.php">Job Seekers</a></li>
                    <li class="hot "><a href="http://{{ domain }}/guide.php">Get Hired!</a></li>
                    <li class=""><a href="http://{{ domain }}/articles/">Articles</a></li>
                    <li class=""><a href="http://{{ domain }}/education-corner.php">Education Corner</a></li>
                    <li class=""><a href="http://{{ domain }}/resources/">Resources</a></li>
                    <li class=""><a href="http://{{ domain }}/success-stories.php">Testimonial</a></li>
                </ul>

            </header>

{% endspaceless %}

            <div id="main">

                {% block mainContainer %}

                {% block heading %} {% endblock %}

                    <div class="leftContainer">

                        {% block leftContainer %}

                            <div class="googleVerticalAd">

                                {{ m.GoogleAdHigh(referer, '9061257549', '') }}

                            </div>


                        {% endblock %}
                    </div>

                    {% block centerContainer %}{% endblock %}

                    <div class="rightContainer">

                    </div>




                    <div class="clear"></div>

                    {% block bannerHorizontal %}{% endblock %}

                </div>

            {% endblock %}

            {% block footerContainer %}

                <footer>

                    <div class="left">&copy; {{ SITE_NAME }} | {{ NEWSLETTER_DOMAIN }} | All Rights Reserved.</div>

                    <div class="right">

                        <a href="http://{{ domain }}/about.php">About Us</a>
                        | <a href="http://{{ domain }}/terms.php">Term of Use</a>
                        | <a href="http://{{ domain }}/privacy.php">Privacy</a>

                    </div>

                    <div class="clear"></div>

                </footer>

            {% endblock %}

            </div>

            {% if enableAnalyticTracking %}

<!-- Start of StatCounter Code -->
<!-- script type="text/javascript">
var sc_project=2325569;
var sc_invisible=1;
var sc_partition=21;
var sc_security="28970409";
</script>
<script type="text/javascript" src="http://www.statcounter.com/counter/counter.js"></script>
<noscript>
<p><a href="http://www.statcounter.com/"><img src="http://c22.statcounter.com/counter.php?sc_project=2325569&amp;java=0&amp;security=28970409&amp;invisible=1" alt="hit counter html code" /></a></p>
</noscript -->
<!-- End of StatCounter Code -->

            {% endif %}
    </body>

</html>