/* --------------------------------------------------------------

   reset.css
   * Resets default browser CSS.

-------------------------------------------------------------- */

html {
  margin: 0;
  padding: 0;
  border: 0; }

body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, code,
del, dfn, em, img, q, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header,
hgroup, nav, section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* This helps to make newer HTML5 elements behave like DIVs in older browers */
article, aside, details, figcaption, figure, dialog,
footer, header, hgroup, menu, nav, section {
  display: block; }

/* Line-height should always be unitless! */
body {
  line-height: 1.5;
  background: white; }

/* Tables still need 'cellspacing="0"' in the markup. */
table {
  border-collapse: separate;
  border-spacing: 0; }

/* float:none prevents the span-x classes from breaking table-cell display */
caption, th, td {
  text-align: left;
  font-weight: normal;
  float: none !important; }

table, th, td {
  vertical-align: middle; }

/* Remove possible quote marks (") from <q>, <blockquote>. */
blockquote:before, blockquote:after, q:before, q:after {
  content: ''; }

blockquote, q {
  quotes: "" ""; }

/* Remove annoying border on linked images. */
a img {
  border: none; }

/* Remember to define your own focus styles! */
:focus {
  outline: 0; }

html {
  overflow-y: scroll; }

@media only screen and (max-device-width: 480px) {
  html {
    -webkit-text-size-adjust: none; } }
body, button, textarea, input {
  font-family: Arial,​Helvetica,​sans-serif;
  color: #333;
  font-size: 13px; }

table, td {
  color: #000;
  font-family: Arial,​Helvetica,​sans-serif; }
.hot {
  color: #ff3300 !important;
}
.input {
  width: 281px;
  border: 1px solid #d9d9d9;
  padding: 5px 0px 5px 2px;
  vertical-align: middle;
  height: 28px;
  color: #333;
  font-size: 25px;
  -webkit-appearance: none;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none; }

button {
  width: 120px;
  height: 40px;
  border: none;
  font-size: 25px;
  font-weight: bold;
  color: #fff;
  vertical-align: middle;
  padding: 0px;
  cursor: pointer;
  background-image: -moz-linear-gradient(#f49b61, #f06e18);
  background-image: -o-linear-gradient(#f49b61, #f06e18);
  background-image: -ms-linear-gradient(#f49b61, #f06e18);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f49b61), color-stop(1, #f06e18));
  background-image: -webkit-linear-gradient(#f49b61, #f06e18);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f49b61', endColorstr='#f06e18');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#f49b61', endColorstr='#f06e18')"; }
  .lt-ie8 button {
    background-color: #f06e18; }

button::-moz-focus-inner {
  padding: 0px 0 0px;
  margin: -1px 0 0; }

button:hover {
  text-decoration: underline;
  background-image: -moz-linear-gradient(#f06e18, #f49b61);
  background-image: -o-linear-gradient(#f06e18, #f49b61);
  background-image: -ms-linear-gradient(#f06e18, #f49b61);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f06e18), color-stop(1, #f49b61));
  background-image: -webkit-linear-gradient(#f06e18, #f49b61);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f06e18', endColorstr='#f49b61');
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#f06e18', endColorstr='#f49b61')"; }

textarea {
  width: 496px;
  height: 148px;
  border: 1px solid #999;
  padding: 0px 0px 0px 2px;
  resize: none;
  vertical-align: top;
  overflow: auto; }

a {
  text-decoration: none;
  color: #0033CC; }

a:hover {
  text-decoration: underline; }

::-webkit-input-placeholder {
  color: #333; }

input:-moz-placeholder {
  color: #333; }

.placeholder {
  color: #333; }

.clear {
  clear: both; }

.notificationTop {
  background: url("../images/notif-shadow.png") left bottom repeat-x #fefddf; }
  .notificationTop .inner {
    width: 916px;
    margin: 0 auto;
    height: 42px;
    line-height: 37px;
    padding: 0 10px;
    position: relative;
    font-weight: bold;
    color: #0D245D;
    font-size: 14px; }
    .notificationTop .inner p {
      float: left; }
    .notificationTop .inner .buttons {
      float: right;
      line-height: 42px;
      width: 242px;
      white-space: nowrap; }
      .notificationTop .inner .buttons .fb-like {
        float: left;
        width: 79px; }
      .notificationTop .inner .buttons .google {
        float: left;
        position: relative;
        top: 3px;
        width: 66px; }
      .notificationTop .inner .buttons .tweet {
        float: left;
        position: relative;
        top: 3px;
        width: 88px; }
    .notificationTop .inner .tail {
      height: 18px;
      width: 49px;
      position: absolute;
      left: 14px;
      bottom: -13px;
      background: url("../images/tail.png") 0 0 no-repeat transparent; }

header {
  background-color: #0e245d;
  font-size: 16px;
  font-weight: bold;
  color: #fff; }
  header span {
    color: #FF9900; }
  .lt-ie8 header li {
    display: inline !important;
    zoom: 1; }
  header .inner {
    padding: 6px 10px 13px 10px;
    height: 64px;
    font-family: tahoma, helvetica; }
    header .inner a {
      font-size: 30px;
      color: #fff; }
    header .inner .topMenu {
      display: block;
      list-style: none;
      margin-left: 3px; }
      header .inner .topMenu li {
        display: inline-block;
        *display: inline; }
        header .inner .topMenu li a {
          color: #ff9900;
          font-size: 16px; }
        header .inner .topMenu li sup {
          font-size: 10px;
          margin-left: 5px;
          color: #fe0000; }
          header .inner .topMenu li sup a {
            color: #ff0000 !important; }
  header .mainMenu {
    list-style: none;
    display: block;
    background-color: #56658C;
    padding: 3px 9px;
    font-size: 15px;
    border-bottom: 1px solid #0e245d; }
    header .mainMenu li {
      display: inline-block;
      background-color: #0e245d;
      height: 29px;
      line-height: 29px;
      padding: 0 9px;
      margin-right: 3px; }
      header .mainMenu li a {
        color: #fff; }
      header .mainMenu li.hot {
        background-color: #FE0000; }
    header .mainMenu .resources a {
      color: #ff9900; }

#wrapper {
  width: 940px;
  margin: 0 auto; }

.rightContainer {
  float: right;
  width: 200px; }
  .rightContainer .popularCities {
    margin-bottom: 6px; }
    .rightContainer .popularCities h3 {
      background: url("../images/arrow-bottom.png") no-repeat 180px center;
      background-color: #f4f4f4; }
    .rightContainer .popularCities .open {
      background: url("../images/arrow-bottom-close.png") no-repeat 185px center;
      background-color: #f4f4f4; }
  .rightContainer .block {
    border: 1px #EAEAEA solid;
    margin-bottom: 11px; }
    .rightContainer .block .section {
      background-color: #F4F4F4;
      border-bottom: 1px #EAEAEA solid;
      text-align: center; }
      .rightContainer .block .section.google {
        padding: 9px 4px; }
      .rightContainer .block .section.twitter {
        padding: 12px 4px 8px;
        position: relative;
        z-index: 1; }
      .rightContainer .block .section:last-child {
        border-bottom: none; }
      .rightContainer .block .section img {
        vertical-align: middle; }
      .rightContainer .block .section button {
        width: 129px;
        height: 30px;
        font-size: 13px;
        margin-bottom: 5px; }
        .rightContainer .block .section button:last-child {
          margin-bottom: 0px; }
    .rightContainer .block h3 {
      background-color: #F4F4F4;
      border-bottom: 1px #EAEAEA solid;
      font-size: 14px;
      padding: 4px 3px 4px 5px;
      font-weight: bold; }
    .rightContainer .block .content {
      padding: 8px 13px 10px; }
      .rightContainer .block .content ul {
        list-style: none; }
        .rightContainer .block .content ul li > a {
          position: relative;
          left: -4px; }
      .rightContainer .block .content .left {
        float: left;
        color: #666;
        margin-left: 6px;
        margin-top: 2px; }
      .rightContainer .block .content .right {
        float: right;
        color: #666;
        margin-right: 8px;
        margin-top: 2px; }
      .rightContainer .block .content .changeStates {
        color: #0066cc;
        font-size: 12px;
        font-style: italic;
        position: relative;
        left: 94px;
        top: 6px; }
      .rightContainer .block .content.strong {
        font-weight: bold; }
      .rightContainer .block .content .hot {
        color: #ff3300; }
      .rightContainer .block .content .email {
        margin-top: 8px; }
        .rightContainer .block .content .email input {
          width: 164px;
          height: 13px;
          border: 1px solid #d9d9d9;
          padding: 6px 0 6px 4px;
          font-size: 12px;
          background-color: #f4f8fb; }
      .rightContainer .block .content .sendJobs {
        margin-top: 8px; }
        .rightContainer .block .content .sendJobs button {
          width: 170px;
          height: 25px;
          font-size: 14px; }
      .rightContainer .block .content .privacy {
        font-size: 12px;
        padding-left: 26px;
        margin-top: 14px;
        color: #666;
        line-height: 1.25em;
        background: transparent url("../images/lock.png") no-repeat left 2px; }
      .rightContainer .block .content .secure, .rightContainer .block .content .iaews {
        text-align: center;
        margin-top: 10px; }
    .rightContainer .block .social {
      padding: 15px 9px 8px 13px; }
      .rightContainer .block .social .addthis_toolbox .button_facebook {
        float: left;
        margin-bottom: 5px; }
      .rightContainer .block .social .addthis_toolbox .button_tweet {
        float: left;
        width: 80px;
        margin: 0 0 5px 10px; }
      .rightContainer .block .social .addthis_toolbox .button_google {
        width: 84px; }
    .rightContainer .block .actionsDescr p {
      line-height: 15px; }
    .rightContainer .block .actions {
      padding: 12px 20px; }
  .rightContainer .buttonBlock {
    margin-top: 11px; }
  .rightContainer #states h3 {
    cursor: pointer; }
  .rightContainer .transcriptionJobs {
    margin-bottom: 8px; }
  .rightContainer .getInRSS {
    font-size: 12px;
    font-weight: bold;
    background-color: #f4f4f4;
    border: 1px solid #d9d9d9;
    padding: 9px 0px 5px 9px; }
    .rightContainer .getInRSS > a {
      float: left; }
    .rightContainer .getInRSS p {
      line-height: 12px;
      width: 150px;
      float: left;
      margin-left: 8px; }
      .rightContainer .getInRSS p .get {
        color: #000; }

footer {
  border-top: 2px #ccc solid;
  padding: 10px 2px;
  font-size: 12px;
  margin-top: 60px; }
  footer .left {
    float: left;
    width: 60%; }
  footer .right {
    float: right;
    color: #0033CC;
    width: 40%;
    text-align: right; }

.searchBoxSmall .input {
  width: 35% !important;
  margin-left: 9px !important; }
.searchBoxSmall button {
  width: 22% !important;
  margin-left: 9px !important; }
.searchBoxSmall .searchSettings {
  font-size: 12px;
  width: 72% !important; }
  .searchBoxSmall .searchSettings p {
    margin-bottom: 0 !important; }

.searchBox {
  background-color: #55658c;
  color: #fff;
  padding: 10px 0; }
  .searchBox .input {
    margin: 0px 0px 0px 10px;
    display: inline-block;
    border: 1px solid #000; }
  .searchBox button {
    display: inline-block;
    margin-left: 10px; }
  .searchBox .searchSettings {
    margin-left: 12px;
    margin-top: 2px;
    width: 80%;
    float: left; }
    .searchBox .searchSettings span {
      margin-left: 10px; }
  .searchBox .advanced {
    float: right;
    margin: 4px 29px 0 0; }
  .searchBox a {
    color: #fff; }

.whiteInBlue {
  background-color: #0e245d;
  padding: 5px;
  color: #fff; }

.subscribe {
  min-height: 166px;
  background-color: #fdfde1;
  border: 2px solid #d9d9d9;
  padding: 0 14px 10px;
  margin-top: 10px;
  margin-bottom: 10px; }
  .subscribe .quote {
    border-bottom: 1px dotted #666666;
    text-align: center;
    font-weight: bold;
    padding-bottom: 11px; }
    .subscribe .quote p {
      background: url("../images/apostrophy.png") 0px 3px no-repeat;
      padding-left: 30px;
      font-size: 15px;
      color: #000;
      padding: 0 45px;
      margin-top: 9px;
      font-style: italic; }
    .subscribe .quote span {
      font-size: 11px;
      color: #666; }
  .subscribe .join {
    float: left;
    text-align: right;
    width: 58%;
    font-size: 15px;
    color: #000;
    font-weight: bold; }
    .subscribe .join p {
      padding: 0 20px 0 22px;
      margin-top: 3px; }
    .subscribe .join .number {
      font-size: 24px;
      color: #F81B01; }
    .subscribe .join .red {
      font-size: 15px;
      color: #F21800; }
  .subscribe .emailForm {
    float: right;
    width: 42%;
    margin-top: 11px; }
    .subscribe .emailForm .enter {
      width: 174px;
      height: 18px;
      margin-left: 8px;
      font-size: 16px; }
    .subscribe .emailForm button {
      width: 98px;
      height: 30px;
      font-size: 16px;
      margin-left: 4px; }
    .subscribe .emailForm p {
      background: url("../images/lock.png") no-repeat scroll 8px 5px transparent;
      font-size: 12px;
      color: #666;
      margin-top: 2px;
      padding: 0px 34px;
      line-height: 15px; }

.errors {
  color: #ff0000;
  list-style: none;
  line-height: 15px;
  margin-top: 3px; }

.errors:before {
  color: #FF0000;
  content: "* "; }

table {
  border-top: 1px #AAB2C5 solid;
  width: 100%; }
  table.recent-jobs #googleAd1 {
    padding: 5px 0 0px 10px !important; }
  table.recent-jobs #googleAd2 {
    padding: 5px 0 0 10px !important; }
  table.recent-jobs .googleAdd {
    padding: 0 0 1px !important; }
  table.recent-jobs th {
    font-size: 14px; }
  table.recent-jobs td {
    font-size: 12px; }
  table.recent-jobs tbody td {
    padding-top: 6px !important;
    padding-bottom: 6px !important; }
  table.recent-jobs .title {
    padding: 5px 0px 5px 14px;
    width: 68%; }
  table.recent-jobs .location {
    padding: 5px 0px;
    width: 15.25%; }
    table.recent-jobs .location span {
      position: relative;
      top: 2px; }
  table.recent-jobs .date {
    padding: 5px 16px 5px 26px;
    width: 16.75%; }
    table.recent-jobs .date span {
      position: relative;
      top: 2px; }
  table.jobs-location th, table.jobs-location td {
    font-size: 14px; }
  table.jobs-location th {
    padding: 5px 0px 5px 14px; }
  table.jobs-location td {
    padding: 4px 8px 3px 14px; }
  table.jobs-location span {
    color: #333; }
  table.table1 {
    margin-top: 12px; }
    table.table1 .leftBlock {
      width: 33%; }
    table.table1 .centerBlock {
      width: 33%; }
    table.table1 .rightBlock {
      width: 34%; }
    table.table1 a {
      text-decoration: underline;
      font-size: 14px;
      line-height: 1.4em; }
    table.table1 p {
      font-size: 12px;
      color: #000;
      line-height: 15px; }
    table.table1 td {
      padding: 7px 0px 7px 14px; }
    table.table1 th {
      line-height: 1.4em;
      padding: 5px 0px 5px 14px;
      font-size: 14px; }
  table thead tr {
    background-color: #55658C;
    color: #fff; }
    table thead tr th {
      line-height: 1.4em;
      font-size: small;
      font-weight: bold; }
      table thead tr th.location, table thead tr th.date {
        text-align: center; }
  table tbody tr td {
    vertical-align: top; }
    table tbody tr td p {
      font-size: 12px;
      line-height: 15px; }
    table tbody tr td a {
      line-height: 1.4em; }
    table tbody tr td.title a {
      text-decoration: underline;
      font-size: 14px; }
    table tbody tr td.location, table tbody tr td.date {
      text-align: center; }
  table tbody tr.even {
    background-color: #F6F6F6; }

.breadcrumb {
  height: 34px;
  line-height: 34px;
  padding-left: 2px; }

.heading {
  padding: 8px 0 5px 0px; }
  .heading .titleHeading {
    float: left;
    margin: 0 5px 0 4px; }

.titleHeading {
  font-size: 18px;
  color: #0d245D;
  margin: 20px 5px 5px 4px;
  font-weight: bold; }
.noRss {
  width: 155px !important;
}
.shareHeading {
  float: left;
  width: 177px;
  margin-top: 4px; }
  .shareHeading .addthis_toolbox {
    float: left;
    position: relative;
    left: 3px; }
    .shareHeading .addthis_toolbox .addthis_button_tweet {
      margin-right: 1px; }
  .shareHeading > a {
    float: right; }

.searchJob {
  padding: 10px 0;
  background-color: #ebeffa;
  position: relative;
  margin: 0px 0px 7px 0px; }
  .searchJob .tail {
    background: url("../images/searchJobTail.png") no-repeat;
    height: 11px;
    width: 22px;
    left: 40px;
    position: absolute;
    top: -11px; }
  .searchJob .enterFree {
    width: 556px;
    height: 18px;
    border: 1px solid #ccc;
    margin: 0px 0px 0px 10px;
    font-size: 16px; }
  .searchJob button {
    width: 140px;
    height: 30px;
    font-size: 16px;
    margin-left: 5px;
    white-space: nowrap; }
  .searchJob .errors {
    margin-left: 14px;
  }

.paginationBig {
  float: left;
  margin-top: 18px;
  font-weight: bold; }
  .paginationBig .number {
    border: 1px solid #e6e6e6;
    padding: 5px 12px;
    font-size: 14px;
    float: left;
    margin-right: 5px;
    margin-bottom: 10px; }
    .paginationBig .number a {
      color: #666; }
  .paginationBig .numberActive {
    background-color: #0066cc;
    color: #fff;
    padding: 5px 12px;
    margin-right: 5px;
    font-size: 14px;
    float: left;
    border: 1px solid #0066cc; }
  .paginationBig .next {
    float: left;
    border: 1px solid #e6e6e6;
    padding: 5px 12px;
    font-size: 14px; }
    .paginationBig .next a {
      color: #666; }

.paginationSmall {
  margin-top: 9px;
  font-weight: bold; }
  .paginationSmall .number {
    border: 1px solid #e6e6e6;
    padding: 1px 8px;
    font-size: 14px;
    float: left;
    margin-right: 5px;
    margin-bottom: 10px; }
    .paginationSmall .number a {
      color: #999; }
  .paginationSmall .numberActive {
    background-color: #0066cc;
    color: #fff;
    padding: 1px 8px;
    margin-right: 5px;
    font-size: 14px;
    float: left;
    border: 1px solid #0066cc; }
  .paginationSmall .next {
    float: left;
    border: 1px solid #e6e6e6;
    padding: 1px 8px;
    font-size: 14px; }
    .paginationSmall .next a {
      color: #999; }

.googleSearch {
  border: 2px solid #d9d9d9;
  background-color: #f5f5f5;
  margin-top: 18px;
  margin-bottom: 9px; }
  .googleSearch h3 {
    height: 38px;
    background: url("../images/arrow-bottom.png") no-repeat 685px 16px;
    background-color: #d9d9d9;
    line-height: 38px;
    font-size: 15px;
    color: #333;
    cursor: pointer;
    padding-left: 14px; }
  .googleSearch .openSearch {
    height: 38px;
    background: url("../images/arrow-bottom-close.png") no-repeat 690px 14px;
    background-color: #d9d9d9;
    line-height: 38px;
    font-size: 15px;
    color: #333;
    padding-left: 14px; }
  .googleSearch .content {
    padding: 13px 0px; }
    .googleSearch .content .medical {
      width: 601px;
      height: 18px;
      margin-left: 9px;
      font-size: 16px; }
    .googleSearch .content button {
      width: 95px;
      height: 30px;
      font-size: 16px;
      margin-left: 4px; }

.emailFriend {
  height: 86px;
  border: 2px solid #d9d9d9;
  background-color: #f5f5f5; }
  .emailFriend .emailForm {
    border-right: 1px dotted #666;
    float: left;
    margin: 7px 0px 0 6px;
    padding-bottom: 10px;
    padding-right: 33px; }
    .emailFriend .emailForm p {
      color: #000;
      font-size: 14px;
      font-weight: bold;
      margin-left: 5px;
      margin-bottom: 10px;
      margin-top: 0px; }
    .emailFriend .emailForm .email {
      width: 184px;
      height: 18px;
      margin-left: 5px;
      font-size: 16px; }
    .emailFriend .emailForm button {
      width: 90px;
      height: 30px;
      font-size: 16px;
      margin-left: 4px; }
  .emailFriend .rightBlock {
    float: left;
    text-align: center;
    width: 27%; }
    .emailFriend .rightBlock p {
      font-size: 14px;
      color: #333;
      margin-top: 7px;
      margin-bottom: 12px;
      font-weight: bold; }
    .emailFriend .rightBlock .shareHeading .addthis_toolbox {
      left: 24px;
      top: -3px; }

.infoBox {
  border: 2px #EAEAEA solid;
  background-color: #F4F4F4;
  margin: 0 0 10px;
  padding: 10px 20px; }
  .infoBox ul {
    list-style: none;
    vertical-align: top; }
    .infoBox ul.left {
      width: 50%;
      float: left; }
    .infoBox ul.right {
      width: 50%;
      float: left; }
  .infoBox p {
    margin-bottom: 13px; }
  .infoBox div {
    width: 70%; }
  .infoBox button {
    float: right;
    width: 129px;
    height: 30px;
    font-size: 14px; }

.twistLeft {
  font-size: 14px;
  font-weight: bold;
  border: 1px solid #e6e6e6;
  float: left;
  padding: 2px 8px 2px 10px;
  max-width: 335px;
  overflow: hidden;
  white-space: nowrap;
  word-wrap: normal;}
  .twistLeft span {
    display: block;
    color: #999;
    float: right; }
   .twistLeft a {
    display: block;
    float: right;
    color: #0033cc;
    }
  .twistLeft .leftArrow {
    background: url("../images/left-active.png") no-repeat;
    float: left;
    height: 11px;
    margin-right: 4px;
    margin-top: 5px;
    padding: 0;
    width: 6px; }

.twistRight {
  font-size: 14px;
  font-weight: bold;
  background-color: #f5f5f5;
  border: 1px solid #e6e6e6;
  float: right;
  padding: 2px 12px 2px 8px;
  max-width: 335px;
  overflow: hidden;
  word-wrap: normal;
  white-space: nowrap;}
  .twistRight a {
    display: block;
    float: left;
    color: #0033cc;}
  .twistRight span {
    display: block;
    color: #999;
    float: left; }
  .twistRight .rightArrow {
    background: url("../images/right.png") no-repeat;
    float: right;
    height: 11px;
    margin-left: 9px;
    margin-top: 5px;
    padding: 0;
    width: 6px; }

.jobsAd {
  float: right;
  margin-top: 24px; }
  .jobsAd img {
    position: relative;
    top: 4px; }

.textContent {
  padding: 0 4px;
  margin-bottom: 10px; }

.fontLarge {
  color: #000 !important; }

.box {
  background-color: #ebeffa;
  border: 2px solid #56658c;
  color: #333;
  line-height: 18px;
  padding: 5px 15px 5px;
  margin: 0 0 10px;
  font-size: 13px; }
  .box a {
    color: #0033cc;
    font-weight: bold; }
  .box .likeThis {
    color: #0E245D;
    font-weight: bold;
    float: left;
    font-size: 14px;
    width: 340px;
    margin-top: 5px; }
  .box .hot {
    color: #ff3300; }
  .box .bookmarkButton {
    float: right;
    position: relative;
    top: 2px; }
  .box p {
    margin-bottom: 7px; }
  .box .login .formBlock label {
    padding-left: 4px;
    width: 148px;
  }

.littleMargin {
  margin-bottom: 3px !important; }

.formBlock {
  margin-bottom: 9px; }

  .formBlock .input {
  width: 294px;
  height: 28px;
  border: 1px solid #999999;
  padding: 0 0 0 4px;
  font-size: 14px;
}
.formBlock select {
  width: 300px;
  height: 30px;
  padding: 5px 0px;
  border: 1px solid #999;
  color: #333;
  line-height: 24px; }
  .formBlock button {
  width: 150px;
  height: 30px;
  font-size: 14px;
  margin-left: 156px; }
label {
  width: 148px;
  padding-left: 4px;
  font-weight: bold;
  vertical-align: top;
  display: inline-block; }

.required:after {
  content: ' *';
  color: #ff0000; }

.required {
  scrollbar-face-color: expression(!this.isInserted==true ? this.isInserted=(this.innerHTML = '' + this.innerHTML + '<span style="color: #ff0000;">*</span>') : ''); }

.errors {
  scrollbar-face-color: expression(!this.isInserted==true ? this.isInserted=(this.innerHTML = '<span style="color: #ff0000;">* </span>' + this.innerHTML + '') : ''); }

.bottomBorder {
  padding-bottom: 14px;
  border-bottom: 1px solid #EBEBEB;
  margin-bottom: 30px; }

.login label {
        width: 116px;
        padding-left: 14px; }
  .login .errors {
        margin-left: 136px;
      }
  .login .email, .login .password {
        width: 194px;
        height: 28px;
        border: 1px solid #999;
        padding: 0px 0px 0px 4px;
        font-size: 13px; }
      .login .checkbox {
        display: inline-block;
        *display: inline; }
        .login .checkbox input[type="checkbox"] {
          display: inline-block;
          height: 15px;
          margin: 0;
          cursor: pointer;
          position: relative;
          width: 15px;
          vertical-align: middle;
          left: -3px \9;
          *left: 0 !important; }
      .login .loginButton {
        padding-left: 134px;
        margin-top: 11px; }
        .login .loginButton button {
          width: 90px;
          height: 30px;
          font-size: 14px;
          margin-right: 9px; }
        .login .buttons {
          padding-left: 156px;
          margin-bottom: 5px;
        }
        .login .buttons button {
          width: 148px !important;
          margin: 0 4px 0 0 !important;
        }
        


.importantmsg {
  border-top: 1px solid #ebebeb;
  font-size: 80%;
  padding: 5px 0 3px;
  margin: 10px 0 15px;
  text-align: right; }
.access {
  background-color: #FEFDDF;
  border: 2px solid #56658c;
  color: #000;
  font-size: 14px;
  font-weight: bold;
  padding: 5px 16px;
  margin: 10px 0px; }



.breadcrumb ~ #main .centerContainer{
	border-top: 1px solid #EBEBEB;
}



/*---------------------------------------------------------------*/
.twoContainer #wrapper #main .leftContainer {
  float: left;
  width: 730px; }
  .twoContainer #wrapper #main .leftContainer > p {
    padding: 4px 0px 4px 12px;
    margin: 10px 0 10px; }
.twoContainer #wrapper #main { margin-top: 10px; }
.twoContainer #wrapper #main .leftContainer .whiteInBlue {
    font-size: 18px;
    padding: 4px 0px 4px 12px;
    margin: 10px 0 1px; }

/*---------------------------------------------------------------*/
.threeContainer #wrapper #main .leftContainer {
  float: left;
  width: 160px; }
.threeContainer #wrapper #main .centerContainer {
  float: left;
  width: 550px;
  margin: 0 15px;}
.threeContainer #wrapper #main { margin-top: 10px; }

/*---------------------------------------------------------------*/
.subMenu .mainMenu {
  padding-bottom: 0;
  *padding-bottom: 3px;
  border-bottom: none; }
  .subMenu .mainMenu .expanded {
    padding-bottom: 3px;
    position: relative;
    *top: 3px; }
.subMenu .topMenuSecond {
  height: 36px;
  line-height: 34px;
  color: #56658c; }
  .subMenu .topMenuSecond .withBorder {
    border-right: 1px solid #56658c; }
  .subMenu .topMenuSecond a {
    color: #fff;
    font-size: 12px;
    margin-left: 8px;
    margin-right: 1px;
    padding: 3px 13px 5px 0; }

/*---------------------------------------------------------------*/
.expandedMenu #wrapper header .mainMenu {
  padding-bottom: 0;
  *padding-bottom: 3px; }
  .expandedMenu #wrapper header .mainMenu .expanded {
    padding-bottom: 3px;
    position: relative;
    *top: 3px; }

/*---------------------------------------------------------------*/
.spaceMain #wrapper #main  { margin-top: 10px !important; }
/*---------------------------------------------------------------*/
.tag1 { font-size: 20px;
        font-weight: 900; }
.tag2 { font-size: 19px;
        font-weight: 800; }
.tag3 { font-size: 18px;
        font-weight: 700; }
.tag4 { font-size: 17px;
        font-weight: 600; }
.tag5 { font-size: 16px;
        font-weight: 500; }
.tag6 { font-size: 15px;
        font-weight: 400; }
.tag7 { font-size: 14px;
        font-weight: 300; }
.tag8 { font-size: 13px;
        font-weight: 200; }
.tag9 { font-size: 12px;
        font-weight: 100; }
.justify { text-align: justify; }
/*---------------------------------------------------------------*/
.homepage #wrapper #main {
  margin-top: 10px; }
  .homepage #wrapper #main .leftContainer > p {
    font-size: 18px;
    padding: 4px 0px 4px 12px;
    margin: 10px 0 1px; }
  .homepage #wrapper #main .leftContainer .centerButton {
    text-align: center;
    margin: 12px 0px 22px; }
    .homepage #wrapper #main .leftContainer .centerButton button {
      width: 200px;
      height: 30px;
      font-size: 14px;
      margin: 4px 0; }
  .homepage #wrapper #main .leftContainer .leftBrows {
    float: left; }
  .homepage #wrapper #main .leftContainer .rightBrows {
    float: right; }
  .homepage #wrapper #main .leftContainer .browse {
    width: 360px; }
    .homepage #wrapper #main .leftContainer .browse .header {
      background-color: #0e245d; }
      .homepage #wrapper #main .leftContainer .browse .header h3 {
        font-size: 18px;
        color: #fff;
        padding: 3px 0px 5px 12px; }
    .homepage #wrapper #main .leftContainer .browse .content {
      background-color: #F6F6F6;
      border: 1px solid #56668c;
      border-top: none; }
      .homepage #wrapper #main .leftContainer .browse .content div {
        border-bottom: 1px dotted #56668c;
        padding: 8px 14px 9px; }
        .homepage #wrapper #main .leftContainer .browse .content div a {
          font-size: 14px;
          color: #0033cc;
          text-decoration: underline; }
        .homepage #wrapper #main .leftContainer .browse .content div p {
          font-size: 12px;
          color: #000; }
      .homepage #wrapper #main .leftContainer .browse .content .centerButton {
        border: none;
        margin: 0px; }
  .homepage #wrapper #main .leftContainer .statesList {
    width: 100%;
    margin-top: 10px; }
    .homepage #wrapper #main .leftContainer .statesList .header {
      margin-bottom: 1px; }
      .homepage #wrapper #main .leftContainer .statesList .header h3 {
        background-color: #0e245d;
        color: #fff;
        font-size: 16px;
        font-weight: bold;
        padding: 5px 0 4px 15px; }
    .homepage #wrapper #main .leftContainer .statesList .content {
      background-color: #F6F6F6;
      padding: 11px 0 14px 15px; }
      .homepage #wrapper #main .leftContainer .statesList .content ul {
        width: 20%;
        list-style: none;
        list-style-position: inside;
        float: left; }
  .homepage #wrapper #main .leftContainer .subscribe .emailForm .errors {
    margin-left: 10px; }

/*---------------------------------------------------------------*/
.searchPage #wrapper #main .leftContainer .bannerHorizontal {
  margin-top: 10px; }
.searchPage #wrapper #main .leftContainer .subscribe .emailForm .errors {
  margin-left: 10px; }
.searchPage #wrapper #main { margin-top: 0; }
.searchPage #wrapper #main .leftContainer .box {
  margin-top: 20px;
}

/*---------------------------------------------------------------*/
.detailPage #wrapper #main { margin-top: 0; }
.detailPage #wrapper #main .leftContainer .info {
  padding-right: 18px;
  margin-bottom: 17px; }
  .detailPage #wrapper #main .leftContainer .info p {
    margin: 15px 0px; }
  .detailPage #wrapper #main .leftContainer .info ul {
    list-style-position: inside;
    color: #333;
    font-size: 8px; }
    .detailPage #wrapper #main .leftContainer .info ul span {
      position: relative;
      top: 2px;
      font-size: 13px; }
  .detailPage #wrapper #main .leftContainer .info .babs {
    margin-bottom: 13px; }
  .detailPage #wrapper #main .leftContainer .info strong {
    font-size: 14px;
    color: #ff0000; }
.detailPage #wrapper #main .leftContainer .paginMargin {
  margin-bottom: 12px; }
.detailPage #wrapper #main .leftContainer .jobsAd {
  margin: 0; }
.detailPage #wrapper #main .leftContainer .emailShareBox {
  margin: 10px 0; }
  .detailPage #wrapper #main .leftContainer .emailShareBox .content {
    border: 2px solid #d9d9d9;
    background-color: #f5f5f5;
    border-bottom: none;
    padding: 8px 0 9px; }
    .detailPage #wrapper #main .leftContainer .emailShareBox .content h3 {
      font-weight: bold;
      margin: 5px 0 14px 11px; }
    .detailPage #wrapper #main .leftContainer .emailShareBox .content .friendEmail {
      float: left;
      width: 33%; }
      .detailPage #wrapper #main .leftContainer .emailShareBox .content .friendEmail .email {
        width: 174px;
        height: 18px;
        margin-left: 8px;
        margin-bottom: 3px;
        font-size: 13px; }
      .detailPage #wrapper #main .leftContainer .emailShareBox .content .friendEmail button {
        width: 90px;
        height: 30px;
        font-size: 14px;
        margin-left: 54px; }
    .detailPage #wrapper #main .leftContainer .emailShareBox .content .employerInfo {
      float: left;
      width: 33%;
      min-height: 94px;
      border-left: 1px dotted #666;
      border-right: 1px dotted #666;
      padding: 0px 0px 40px; }
      .detailPage #wrapper #main .leftContainer .emailShareBox .content .employerInfo h3 {
        margin-top: 5px;
        margin-bottom: 11px; }
      .detailPage #wrapper #main .leftContainer .emailShareBox .content .employerInfo ul {
        color: #666;
        list-style-position: inside;
        margin-left: 8px; }
        .detailPage #wrapper #main .leftContainer .emailShareBox .content .employerInfo ul a {
          text-decoration: underline;
          font-weight: bold; }
        .detailPage #wrapper #main .leftContainer .emailShareBox .content .employerInfo ul span {
          color: #333; }
    .detailPage #wrapper #main .leftContainer .emailShareBox .content .share {
      float: left;
      width: 33%;
      padding: 0px 0px 66px; }
      .detailPage #wrapper #main .leftContainer .emailShareBox .content .share h3 {
        margin-top: 5px;
        margin-bottom: 11px; }
      .detailPage #wrapper #main .leftContainer .emailShareBox .content .share .sharing {
        float: none;
        margin: 18px 0 0 7px; }
      .detailPage #wrapper #main .leftContainer .emailShareBox .content .share #bookmarkbutton {
        position: relative;
        left: 11px;
        top: 5px;
        height: 0; }
  .detailPage #wrapper #main .leftContainer .emailShareBox .footer {
    background-color: #d9d9d9;
    height: 75px;
    text-align: center; }
    .detailPage #wrapper #main .leftContainer .emailShareBox .footer button {
      width: 220px;
      height: 40px;
      font-size: 14px;
      margin: 17px 60px 0;
      line-height: 15px; }
  .detailPage #wrapper #main .leftContainer .emailShareBox .applyOnline {
    min-height: 214px;
    padding-bottom: 24px;
    background-color: #d9d9d9;
    display: none; }
    .detailPage #wrapper #main .leftContainer .emailShareBox .applyOnline h3 {
      font-weight: bold;
      font-size: 18px;
      color: #000;
      margin: 0 0 2px 13px;
      padding-top: 18px; }
    .detailPage #wrapper #main .leftContainer .emailShareBox .applyOnline a {
      text-decoration: underline;
      color: #0033cc; }
    .detailPage #wrapper #main .leftContainer .emailShareBox .applyOnline p {
      margin-left: 11px;
      margin-bottom: 15px; }
      
  .detailPage #wrapper #main .leftContainer .emailShareBox .emailEmployer {
    background-color: #d9d9d9;
    min-height: 578px;
    padding: 0px 90px 13px 13px;
    display: none; }
    .detailPage #wrapper #main .leftContainer .emailShareBox .emailEmployer .errors {
      margin-left: 128px;
      margin-bottom: 5px; }
    .detailPage #wrapper #main .leftContainer .emailShareBox .emailEmployer h3 {
      font-weight: bold;
      font-size: 18px;
      color: #000;
      margin-bottom: 16px;
      padding-top: 18px; }
    .detailPage #wrapper #main .leftContainer .emailShareBox .emailEmployer label {
      display: inline-block;
      width: 20%;
      font-weight: normal;
      vertical-align: middle;
      padding: 0; }
    .detailPage #wrapper #main .leftContainer .emailShareBox .emailEmployer .required:after {
      content: '*';
      color: #ff0000; }
    .detailPage #wrapper #main .leftContainer .emailShareBox .emailEmployer .last {
      margin-top: 7px;
      float: left; }
    .detailPage #wrapper #main .leftContainer .emailShareBox .emailEmployer .input {
      width: 496px;
      height: 28px;
      margin-bottom: 3px;
      border: 1px solid #999;
      padding: 0px 0px 0px 2px;
      font-size: 13px; }
    .detailPage #wrapper #main .leftContainer .emailShareBox .emailEmployer textarea {
      margin-bottom: 3px; }
    .detailPage #wrapper #main .leftContainer .emailShareBox .emailEmployer .employerButton {
      margin-left: 125px;
      margin-top: 6px; }
      .detailPage #wrapper #main .leftContainer .emailShareBox .emailEmployer .employerButton button {
        width: 180px;
        height: 30px;
        font-size: 14px;
        margin-right: 9px; }
      .detailPage #wrapper #main .leftContainer .emailShareBox .emailEmployer .employerButton #emailEmployerCancel {
        width: 90px; }
.detailPage #wrapper #main .leftContainer .subscribe .errors {
  margin-left: 10px; }

/*---------------------------------------------------------------*/
.testimonials #wrapper #main { margin-top: 10px; }
  .testimonials #wrapper #main .leftContainer .heading { padding: 0; }
  .testimonials #wrapper #main .leftContainer .textContent .firstTitle { margin-top: 0;}
  .testimonials #wrapper #main .leftContainer .textContent h3 {
    color: #0D245D;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 7px;
    margin-top: 21px; }
  .testimonials #wrapper #main .leftContainer .textContent > p {
    background: url("../images/apostrophy1.png") no-repeat 25px 3px;
    padding-left: 64px;
    line-height: 16px; }
  .testimonials #wrapper #main .leftContainer .subscribe {
    margin-top: 40px; }
    .testimonials #wrapper #main .leftContainer .subscribe .emailForm .errors {
      margin-left: 10px; }

/*---------------------------------------------------------------*/

.employerPage #wrapper #main .leftContainer .bannerHorizontal {
  margin-top: 10px; }
.employerPage #wrapper #main .leftContainer .previous {
  padding: 1px 5px 12px; }
  .employerPage #wrapper #main .leftContainer .previous a {
    color: #ff6600;
    font-weight: bold;
    text-decoration: none; }
  .employerPage #wrapper #main .leftContainer .access a {
    color: #0033cc; }
.employerPage #wrapper #main .leftContainer .subscribe .emailForm .errors {
  margin-left: 10px; }
.employerPage #wrapper #main .leftContainer .recent-jobs .name {
  width: 20.25%;
  padding: 3px 8px 3px 10px;
}
.employerPage #wrapper #main .leftContainer .recent-jobs .location {
  width: 20.25%;
}
/*---------------------------------------------------------------*/
.resumePage #wrapper #main { margin-top: 0; }
.resumePage #wrapper #main .centerContainer h4 {
  font-size: 15px;
  font-weight: bold; }
.resumePage #wrapper #main .centerContainer .resumeP {
  margin: 13px 0; }
.resumePage #wrapper #main .centerContainer h5 {
  font-size: 13px;
  font-weight: bold; }
.resumePage #wrapper #main .centerContainer .educationP {
  margin: 0px; }
.resumePage #wrapper #main .centerContainer .last {
  margin-bottom: 13px; }
.resumePage #wrapper #main .centerContainer .list {
  margin-bottom: 13px;
  color: #333333;
  font-size: 8px;
  list-style-position: inside; }
  .resumePage #wrapper #main .centerContainer .list li span {
    font-size: 13px;
    position: relative;
    top: 2px; }
.resumePage #wrapper #main .centerContainer .employementPadding {
  margin: 13px 0px; }
.resumePage #wrapper #main .centerContainer .inline {
  display: inline-block;
  *display: inline;
  vertical-align: middle; }
.resumePage #wrapper #main .centerContainer .colorBlock {
  height: 16px;
  width: 70px;
  background: #999;
  display: inline-block;
  vertical-align: middle; }
.resumePage #wrapper #main .adChoices {
  text-align: center;
  margin-top: 45px; }

/*---------------------------------------------------------------*/
.resourcePage #wrapper #main { margin-top: 0; }
.resourcePage #wrapper #main .centerContainer ul {
  list-style: none;
  background-color: #f5f5f5;
  font-size: 13px;
  color: #000;
  padding: 7px 0 7px 12px;
  margin-bottom: 8px; }
  .resourcePage #wrapper #main .centerContainer ul li {
    display: inline-block;
    *display: inline;
    margin-right: 4px; }
    .resourcePage #wrapper #main .centerContainer ul li a {
      color: #00c; }
.resourcePage #wrapper #main .centerContainer .blogDescription {
  padding: 0 12px; }
  .resourcePage #wrapper #main .centerContainer .blogDescription h3 {
    font-size: 16px;
    color: #0000cc; }
  .resourcePage #wrapper #main .centerContainer .blogDescription p {
    font-size: 14px;
    line-height: 19px; }
.resourcePage #wrapper #main .centerContainer .content {
  padding: 10px 0 10px 12px;
  border-top: 1px solid #EBEBEB;
  border-bottom: 1px solid #EBEBEB;
  margin-top: 9px;
  display: inline-block; }
  .resourcePage #wrapper #main .centerContainer .content .string {
    float: left;
    width: 49%; }
    .resourcePage #wrapper #main .centerContainer .content .string p {
      padding-right: 10px; }
  .resourcePage #wrapper #main .centerContainer .content h3 {
    line-height: 19px; }
    .resourcePage #wrapper #main .centerContainer .content h3 a {
      font-size: 14px;
      color: #0000cc; }
  .resourcePage #wrapper #main .centerContainer .content p {
    line-height: 17px;
    margin-bottom: 12px; }
.resourcePage #wrapper #main .bannerHorizontal {
  text-align: center;
  margin-top: 45px;
  padding-top: 45px\9;
  margin: 0\9; }

/*---------------------------------------------------------------*/
.detailResource #wrapper #main { margin-top: 0; }
.detailResource #wrapper #main .centerContainer .bannerAmbient {
  float: right;
  padding: 0 0 1px 14px; }
.detailResource #wrapper #main .centerContainer .textContent > p {
  margin: 0 0 18px; }
.detailResource #wrapper #main .centerContainer .jobsAd {
  margin-top: 0 !important; }
.detailResource #wrapper #main .bannerHorizontal {
  text-align: center;
  margin-top: 45px;
  padding-top: 45px\9;
  margin: 0\9; }

/*---------------------------------------------------------------*/
.addResource #wrapper #main { margin-top: 0; }
.addResource #wrapper #main .centerContainer .box {
  margin-bottom: 30px; }
.addResource #wrapper #main .centerContainer .errors {
  margin-left: 160px; }
.addResource #wrapper #main .centerContainer textarea {
  height: 86px;
  width: 390px;
  *margin-left: 4px; }
.addResource #wrapper #main .centerContainer .input {
  width: 388px;
  *width: 387px;
  width: 387px\9;
  width: 387px\8;
  height: 28px;
  border: 1px solid #999999;
  padding: 0 0 0 4px;
  font-size: 13px; }
.addResource #wrapper #main .centerContainer button {
  width: 150px;
  height: 30px;
  font-size: 14px;
  margin-left: 156px; }
.addResource #wrapper #main .bannerHorizontal {
  text-align: center;
  margin-top: 45px;
  padding-top: 45px\9;
  margin: 0\9; }

/*---------------------------------------------------------------*/

.seekerRegistration #wrapper #main .centerContainer .errors {
  margin-left: 160px; }
.seekerRegistration #wrapper #main .centerContainer .forget {
  float: left; }
.seekerRegistration #wrapper #main .centerContainer label {
  line-height: 30px; }
.seekerRegistration #wrapper #main .centerContainer .input {
  width: 294px;
  height: 28px;
  border: 1px solid #999999;
  padding: 0 0 0 4px;
  font-size: 13px; }
.seekerRegistration #wrapper #main .centerContainer select {
  width: 300px;
  height: 30px;
  padding: 5px 0px;
  border: 1px solid #999;
  color: #333;
  line-height: 24px; }
.seekerRegistration #wrapper #main .centerContainer .deal {
  border: 2px solid #ebebeb;
  background-color: #f5f5f5;
  margin-top: 13px;
  margin-bottom: 22px; }
  .seekerRegistration #wrapper #main .centerContainer .deal input[type="checkbox"] {
    float: left;
    height: 15px;
    cursor: pointer;
    width: 15px;
    z-index: 20;
    margin: 11px 0 0 12px;
    margin-top: 9px\9; }
  .seekerRegistration #wrapper #main .centerContainer .deal p {
    float: left;
    margin-left: 8px;
    margin-left: 20px\9;
    margin-top: 9px;
    width: 90%;
    padding-bottom: 11px; }
.seekerRegistration #wrapper #main .centerContainer button {
  width: 150px;
  height: 30px;
  font-size: 14px;
  margin-left: 156px; }
.seekerRegistration #wrapper #main .bannerHorizontal {
  text-align: center;
  margin-top: 45px;
  padding-top: 45px\9;
  margin: 0\9; }

/*---------------------------------------------------------------*/

.jobPostingPage #wrapper #main { margin-top: 0; }
.jobPostingPage #wrapper #main .centerContainer label {
  line-height: 30px;
  float: left; }
.jobPostingPage #wrapper #main .centerContainer .input {
  width: 294px;
  height: 28px;
  border: 1px solid #999999;
  padding: 0 0 0 4px;
  font-size: 13px; }
.jobPostingPage #wrapper #main .centerContainer select {
  width: 300px;
  height: 30px;
  padding: 5px 0px;
  border: 1px solid #999;
  color: #333;
  line-height: 24px; }
.jobPostingPage #wrapper #main .centerContainer textarea {
  height: 86px;
  padding: 0 0 0 2px;
  width: 390px; }
.jobPostingPage #wrapper #main .centerContainer .radio {
  float: right;
  width: 398px; }
  .jobPostingPage #wrapper #main .centerContainer .radio input {
    margin: 0;
    vertical-align: text-top; }
  .jobPostingPage #wrapper #main .centerContainer .radio label {
    width: 19%;
    vertical-align: inherit;
    float: none; }
.jobPostingPage #wrapper #main .centerContainer .salary {
  float: right;
  width: 398px; }
  .jobPostingPage #wrapper #main .centerContainer .salary input {
    width: 116px;
    height: 28px; }
  .jobPostingPage #wrapper #main .centerContainer .salary select {
    width: 120px;
    vertical-align: top;
    margin: 0px 6px 0 2px; }
  .jobPostingPage #wrapper #main .centerContainer .salary span {
    font-size: 12px; }
.jobPostingPage #wrapper #main .centerContainer input[type="checkbox"] {
  float: left;
  height: 13px;
  cursor: pointer;
  position: relative;
  width: 13px;
  margin: 6px 10px 0 0px; }
.jobPostingPage #wrapper #main .centerContainer .formBlock .checkbox {
  float: right;
  width: 398px;
  line-height: 25px; }
.jobPostingPage #wrapper #main .centerContainer .postalCode {
  width: 116px; }
.jobPostingPage #wrapper #main .centerContainer .check {
  float: right;
  width: 398px;
  position: relative;
  top: 6px; }
  .jobPostingPage #wrapper #main .centerContainer .check input {
    margin-top: 1px; }
.jobPostingPage #wrapper #main .centerContainer .deal {
  border: 2px solid #ebebeb;
  background-color: #f5f5f5;
  margin-top: 13px;
  margin-bottom: 22px; }
  .jobPostingPage #wrapper #main .centerContainer .deal input[type="checkbox"] {
    float: left;
    height: 15px;
    cursor: pointer;
    width: 15px;
    z-index: 20;
    margin: 11px 0 0 12px;
    margin-top: 9px\9; }
  .jobPostingPage #wrapper #main .centerContainer .deal p {
    float: left;
    margin-left: 8px;
    margin-left: 20px\9;
    margin-top: 9px;
    width: 90%;
    padding-bottom: 11px; }
.jobPostingPage #wrapper #main .centerContainer .formBlock button {
  width: 150px;
  height: 30px;
  font-size: 14px;
  margin-left: 152px; }
.jobPostingPage #wrapper #main .centerContainer .errors {
  margin-left: 155px; }
.jobPostingPage #wrapper #main .bannerHorizontal {
  text-align: center;
  margin-top: 45px;
  padding-top: 45px\9;
  margin: 0\9; }

/*---------------------------------------------------------------*/

.jobManagement #wrapper #main .centerContainer .recent-jobs {
  margin-top: 20px; }
  .jobManagement #wrapper #main .centerContainer .recent-jobs .date {
    text-align: left;
    width: 34%; }
    .jobManagement #wrapper #main .centerContainer .recent-jobs .date a {
      font-size: 12px; }
    .jobManagement #wrapper #main .centerContainer .recent-jobs .date p {
      font-size: 12px; }
  .jobManagement #wrapper #main .centerContainer .recent-jobs .title {
    width: 66px; }
  .jobManagement #wrapper #main .centerContainer .recent-jobs tbody tr td p {
    font-size: 13px;
    line-height: 17px;
    *white-space: nowrap; }
  .jobManagement #wrapper #main .centerContainer .recent-jobs tbody tr td a {
    font-size: 13px;
    text-decoration: none; }
  .jobManagement #wrapper #main .centerContainer .recent-jobs .even td {
    padding-top: 11px !important;
    padding-bottom: 12px !important; }
  .jobManagement #wrapper #main .centerContainer .recent-jobs .odd td {
    padding-top: 9px !important;
    padding-bottom: 10px !important; }
  .jobManagement #wrapper #main .centerContainer .recent-jobs thead .date {
    text-align: center;
    padding-left: 56px; }
.jobManagement #wrapper #main .bannerHorizontal {
  text-align: center;
  margin-top: 45px; }

/*---------------------------------------------------------------*/
.jobOption #wrapper #main {
  margin-top: 29px; }
  .jobOption #wrapper #main h3 {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #0E245D; }
  .jobOption #wrapper #main p {
    padding-right: 17px;
    margin-top: 10px; }
  .jobOption #wrapper #main .block1 {
    width: 338px;
    min-height: 380px;
    border: 2px solid #2dc000;
    background-color: #EBEBEB;
    text-align: center;
    float: left;
    padding-bottom: 20px;
    margin-top: 52px; }
    .jobOption #wrapper #main .block1 button {
      width: 280px;
      height: 70px;
      border: none;
      font-size: 20px;
      line-height: 20px;
      font-weight: bold;
      margin-top: 21px;
      margin-bottom: 15px;
      color: #fff;
      padding: 0px;
      cursor: pointer;
      background-image: -moz-linear-gradient(#78e300, #2abe00);
      background-image: -o-linear-gradient(#78e300, #2abe00);
      background-image: -ms-linear-gradient(#78e300, #2abe00);
      background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #78e300), color-stop(1, #2abe00));
      background-image: -webkit-linear-gradient(#78e300, #2abe00);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#78e300', endColorstr='#2abe00');
      -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#78e300', endColorstr='#2abe00')"; }
      .jobOption #wrapper #main .block1 button span {
        font-size: 13px;
        white-space: nowrap; }
      .lt-ie8 .jobOption #wrapper #main .block1 button {
        background-color: #F07523; }
    .jobOption #wrapper #main .block1 button::-moz-focus-inner {
      padding: 0px 0 0px;
      margin: -1px 0 0; }
    .jobOption #wrapper #main .block1 button:hover {
      background-image: -moz-linear-gradient(#2abe00, #78e300);
      background-image: -o-linear-gradient(#2abe00, #78e300);
      background-image: -ms-linear-gradient(#2abe00, #78e300);
      background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #2abe00), color-stop(1, #78e300));
      background-image: -webkit-linear-gradient(#2abe00, #78e300);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2abe00', endColorstr='#78e300');
      -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#2abe00', endColorstr='#78e300')";
      text-decoration: underline; }
    .jobOption #wrapper #main .block1 h3 {
      font-size: 20px;
      font-weight: normal;
      color: #000;
      margin-bottom: 40px; }
    .jobOption #wrapper #main .block1 ul {
      list-style-type: none;
      text-align: left;
      padding: 0 17px; }
      .jobOption #wrapper #main .block1 ul li {
        border-bottom: 1px solid #fff;
        background: url("../images/green-checkmark.png") no-repeat 0 4px;
        padding-left: 24px; }
        .jobOption #wrapper #main .block1 ul li p {
          font-style: italic;
          padding: 0px 5px 0px 0px;
          margin: 2px 0 6px;
          line-height: 16px; }
          .jobOption #wrapper #main .block1 ul li p a {
            font-weight: bold; }
      .jobOption #wrapper #main .block1 ul .first {
        border-top: 1px solid #fff;
        background-position: 0px; }
        .jobOption #wrapper #main .block1 ul .first p {
          margin-top: 6px; }
  .jobOption #wrapper #main .block2 {
    float: left;
    text-align: center;
    margin: 18px 23px 0 28px; }
    .jobOption #wrapper #main .block2 .header {
      background-color: #2dc000;
      width: 342px;
      height: 40px;
      line-height: 40px; }
      .jobOption #wrapper #main .block2 .header h3 {
        color: #fff;
        font-size: 16px;
        font-weight: bold; }
    .jobOption #wrapper #main .block2 .content {
      background-color: #d8e5f0;
      width: 334px;
      min-height: 729px;
      border: 4px solid #2dc000;
      border-top: none;
      padding-bottom: 24px; }
      .jobOption #wrapper #main .block2 .content button {
        width: 280px;
        height: 70px;
        border: none;
        font-size: 20px;
        line-height: 20px;
        font-weight: bold;
        color: #fff;
        margin-top: 21px;
        margin-bottom: 10px;
        padding: 0px;
        cursor: pointer;
        background-image: -moz-linear-gradient(#78e300, #2abe00);
        background-image: -o-linear-gradient(#78e300, #2abe00);
        background-image: -ms-linear-gradient(#78e300, #2abe00);
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #78e300), color-stop(1, #2abe00));
        background-image: -webkit-linear-gradient(#78e300, #2abe00);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#78e300', endColorstr='#2abe00');
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#78e300', endColorstr='#2abe00')"; }
        .jobOption #wrapper #main .block2 .content button span {
          font-size: 13px; }
        .lt-ie8 .jobOption #wrapper #main .block2 .content button {
          background-color: #F07523; }
      .jobOption #wrapper #main .block2 .content button::-moz-focus-inner {
        padding: 0px 0 0px;
        margin: -1px 0 0; }
      .jobOption #wrapper #main .block2 .content button:hover {
        background-image: -moz-linear-gradient(#2abe00, #78e300);
        background-image: -o-linear-gradient(#2abe00, #78e300);
        background-image: -ms-linear-gradient(#2abe00, #78e300);
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #2abe00), color-stop(1, #78e300));
        background-image: -webkit-linear-gradient(#2abe00, #78e300);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2abe00', endColorstr='#78e300');
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#2abe00', endColorstr='#78e300')";
        text-decoration: underline; }
      .jobOption #wrapper #main .block2 .content h3 {
        font-size: 24px;
        font-weight: normal;
        color: #000; }
      .jobOption #wrapper #main .block2 .content p {
        font-size: 15px;
        color: #ff0000;
        margin-top: 8px;
        margin-bottom: 11px; }
      .jobOption #wrapper #main .block2 .content ul {
        list-style-type: none;
        text-align: left;
        padding: 0 17px; }
        .jobOption #wrapper #main .block2 .content ul li {
          border-bottom: 1px solid #fff;
          background: url("../images/green-checkmark.png") no-repeat 0 4px;
          padding-left: 24px; }
          .jobOption #wrapper #main .block2 .content ul li p {
            font-style: italic;
            padding: 2px 18px 6px 0px;
            margin: 1px 0;
            color: #333;
            line-height: 17px; }
            .jobOption #wrapper #main .block2 .content ul li p a {
              color: #333; }
        .jobOption #wrapper #main .block2 .content ul .first {
          border-top: 1px solid #fff;
          background-position: 0px 4px; }
        .jobOption #wrapper #main .block2 .content ul .bright {
          background-color: #ffff33; }
      .jobOption #wrapper #main .block2 .content .social {
        width: 298px;
        height: 159px;
        border: 1px solid #fff;
        background-color: #f5f5f5;
        margin: 20px auto 0; }
        .jobOption #wrapper #main .block2 .content .social p {
          color: #B1681A;
          font-size: 16px;
          margin: 8px 0 14px;
          padding: 0 10px; }
        .jobOption #wrapper #main .block2 .content .social .twitter {
          width: 50%;
          margin: 0px auto; }
  .jobOption #wrapper #main .reject {
    float: left;
    height: 805px;
    position: relative;
    width: 20%; }
    .jobOption #wrapper #main .reject a {
      position: absolute;
      bottom: 0px; }
  .jobOption #wrapper #main .satisfaction {
    background-color: #fdfde1;
    border: 1px solid #d9d9d9;
    width: 100%;
    min-height: 116px;
    margin-top: 22px; }
    .jobOption #wrapper #main .satisfaction .satisfactionText {
      width: 78%;
      float: left; }
      .jobOption #wrapper #main .satisfaction .satisfactionText h3 {
        color: #B86F1C;
        font-size: 16px;
        font-weight: bold;
        text-align: left;
        padding: 12px 0 0 16px; }
      .jobOption #wrapper #main .satisfaction .satisfactionText p {
        padding: 1px 0 0 16px; }
    .jobOption #wrapper #main .satisfaction .satisfactionLogo {
      float: right;
      margin-top: 8px;
      width: 15%; }

/*---------------------------------------------------------------*/
.resumeOption #wrapper #main {
  margin-top: 29px; }
  .resumeOption #wrapper #main h3 {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #0E245D; }
  .resumeOption #wrapper #main > p {
    text-align: center;
    padding-right: 20px;
    margin-top: 10px; }
  .resumeOption #wrapper #main .block1 {
    min-height: 249px;
    width: 276px;
    padding-bottom: 21px;
    margin-top: 72px;
    margin-left: 29px;
    background-color: #EBEBEB;
    border: 2px solid #2DC000;
    float: left;
    text-align: center; }
    .resumeOption #wrapper #main .block1 h3 {
      margin: 24px 0 23px;
      color: #000000;
      font-size: 20px;
      font-weight: normal;
      text-align: center; }
    .resumeOption #wrapper #main .block1 button {
      width: 230px;
      height: 70px;
      border: none;
      font-size: 25px;
      line-height: 20px;
      font-weight: bold;
      color: #fff;
      margin-top: 21px;
      margin-bottom: 0px;
      padding: 0px;
      cursor: pointer;
      background-image: -moz-linear-gradient(#78e300, #2abe00);
      background-image: -o-linear-gradient(#78e300, #2abe00);
      background-image: -ms-linear-gradient(#78e300, #2abe00);
      background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #78e300), color-stop(1, #2abe00));
      background-image: -webkit-linear-gradient(#78e300, #2abe00);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#78e300', endColorstr='#2abe00');
      -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#78e300', endColorstr='#2abe00')"; }
      .resumeOption #wrapper #main .block1 button span {
        font-size: 13px; }
      .lt-ie8 .resumeOption #wrapper #main .block1 button {
        background-color: #F07523; }
    .resumeOption #wrapper #main .block1 button::-moz-focus-inner {
      padding: 0px 0 0px;
      margin: -1px 0 0; }
    .resumeOption #wrapper #main .block1 button:hover {
      background-image: -moz-linear-gradient(#2abe00, #78e300);
      background-image: -o-linear-gradient(#2abe00, #78e300);
      background-image: -ms-linear-gradient(#2abe00, #78e300);
      background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #2abe00), color-stop(1, #78e300));
      background-image: -webkit-linear-gradient(#2abe00, #78e300);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2abe00', endColorstr='#78e300');
      -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#2abe00', endColorstr='#78e300')";
      text-decoration: underline; }
    .resumeOption #wrapper #main .block1 ul {
      list-style-type: none;
      padding: 0 17px;
      text-align: left; }
      .resumeOption #wrapper #main .block1 ul li {
        background-position: 0 2px;
        border-bottom: 1px solid #FFFFFF;
        padding-left: 24px;
        background: url("../images/green-checkmark.png") no-repeat scroll 0 2px transparent; }
        .resumeOption #wrapper #main .block1 ul li p {
          margin: 4px 0 6px;
          padding: 0 5px 0 0;
          font-style: italic;
          line-height: 16px;
          text-align: left; }
      .resumeOption #wrapper #main .block1 ul .first {
        background-position: 0 center;
        border-top: 1px solid #FFFFFF; }
        .resumeOption #wrapper #main .block1 ul .first p {
          margin-top: 8px; }
  .resumeOption #wrapper #main .block2 {
    margin: 72px 10px 0;
    float: left;
    text-align: center; }
    .resumeOption #wrapper #main .block2 h3 {
      font-size: 25px;
      margin: 21px 0 19px; }
    .resumeOption #wrapper #main .block2 ul li p {
      font-size: 14px; }
  .resumeOption #wrapper #main .block3 {
    float: left;
    margin-top: 36px; }
    .resumeOption #wrapper #main .block3 .header {
      background-color: #2dc000;
      height: 35px;
      width: 300px;
      line-height: 35px; }
      .resumeOption #wrapper #main .block3 .header h3 {
        color: #fff;
        font-size: 14px;
        font-weight: bold; }
    .resumeOption #wrapper #main .block3 .content {
      width: 292px;
      background-color: #d8e5f0;
      min-height: 257px;
      border: 4px solid #2dc000;
      border-top: none;
      margin: 0px; }
      .resumeOption #wrapper #main .block3 .content h3 {
        font-size: 30px;
        margin: 20px 0 14px; }
      .resumeOption #wrapper #main .block3 .content ul li p {
        font-size: 16px; }
  .resumeOption #wrapper #main .satisfaction {
    background-color: #FDFDE1;
    border: 1px solid #D9D9D9;
    margin-top: 22px;
    min-height: 116px;
    width: 100%; }
    .resumeOption #wrapper #main .satisfaction .satisfactionText {
      float: left;
      width: 78%; }
      .resumeOption #wrapper #main .satisfaction .satisfactionText h3 {
        text-align: center;
        padding: 12px 0 0 46px;
        color: #B86F1C;
        font-size: 16px;
        font-weight: bold; }
      .resumeOption #wrapper #main .satisfaction .satisfactionText p {
        padding: 1px 0 0 16px;
        margin-top: 10px; }
    .resumeOption #wrapper #main .satisfaction .satisfactionLogo {
      float: right;
      margin-top: 8px;
      width: 15%; }

/*---------------------------------------------------------------*/
.thankyouPage #wrapper #main {
  text-align: center;
  padding: 0 191px; }
  .thankyouPage #wrapper #main h3 {
    color: #ff0000;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    padding: 0px 85px;
    margin: 16px 0 0; }
  .thankyouPage #wrapper #main p {
    font-size: 13px;
    font-family: Arial;
    text-align: left;
    line-height: 17px;
    margin-top: 15px; }
    .thankyouPage #wrapper #main p .email {
      color: #333;
      font-weight: bold; }
  .thankyouPage #wrapper #main ul {
    color: #333;
    font-family: Arial;
    font-weight: bold;
    list-style-position: inside;
    text-align: left;
    line-height: 20px;
    margin-top: 20px; }
    .thankyouPage #wrapper #main ul li {
      cursor: pointer; }
      .thankyouPage #wrapper #main ul li span {
        padding-left: 5px;
        color: #0033CC; }
      .thankyouPage #wrapper #main ul li ul {
        width: 536px;
        border: 2px solid #d9d9d9;
        background-color: #fdfde1;
        list-style-type: decimal;
        font-weight: normal;
        color: #333;
        margin: 4px 0 7px 18px;
        padding: 7px 0 8px 14px;
        display: none; }
  .thankyouPage #wrapper #main .list {
    font-weight: normal;
    padding-right: 43px;
    list-style: none; }
    .thankyouPage #wrapper #main .list li {
      background: url("../images/disc.png") no-repeat 0 7px;
      padding-left: 18px;
      line-height: 17px;
      cursor: inherit; }
  .thankyouPage #wrapper #main h2 {
    font-weight: bold;
    font-size: 16px;
    border: 2px solid #d9d9d9;
    background-color: #fdfde1;
    padding: 6px 0 8px;
    margin-top: 15px; }
    .thankyouPage #wrapper #main h2 a {
      color: #B86F1C; }
  .thankyouPage #wrapper #main .getgisjobs {
    color: #333; }

/*---------------------------------------------------------------*/
.orderform #main {
  margin-top: 8px; }
  .orderform #main .orderForm {
    font-size: 20px;
    font-weight: bold;
    color: #0E245D;
    padding-left: 21px;
    margin-bottom: 4px;
    cursor: pointer;
    background: url("../images/lock1.png") no-repeat 0 6px; }
  .orderform #main .Information {
    font-size: 16px;
    font-weight: bold;
    background-color: #0E245D;
    color: #fff;
    padding: 8px 0px 8px 14px; }
  .orderform #main table {
    border: none;
    margin-top: 1px;
    margin-bottom: 35px; }
    .orderform #main table thead tr th {
      padding: 3px 5px 5px 15px; }
    .orderform #main table tbody tr {
      background-color: #F6F6F6; }
      .orderform #main table tbody tr td {
        border-top: 1px solid #fff;
        padding: 4px 15px 6px; }
        .orderform #main table tbody tr td span {
          position: relative;
          top: 2px; }
      .orderform #main table tbody tr .right {
        text-align: right; }
      .orderform #main table tbody tr .size {
        font-size: 16px;
        font-weight: bold;
        color: #000;
        white-space: nowrap; }
  .orderform #main .formLeft {
    width: 27%;
    margin: 0px 25px 0 2px; }
    .orderform #main .formLeft select {
      border: 1px solid #999999;
      height: 27px;
      padding: 3px 0;
      margin-bottom: 4px;
      position: relative;
      line-height: 21px;
      width: 250px; }
  .orderform #main .formCenter {
    margin-right: 20px;
    width: 27%; }
  .orderform #main .formRight {
    width: 41%;
    text-align: center; }
  .orderform #main .form {
    float: left;
    margin-top: 23px;
    margin-bottom: 30px; }
    .orderform #main .form label {
      display: block;
      margin-bottom: 2px;
      margin-left: 1px;
      vertical-align: inherit;
      font-weight: normal;
      padding-left: 0px;
      width: 100%; }
    .orderform #main .form .smallerCode {
      font-size: 11px; }
    .orderform #main .form .smaller {
      font-size: 11px;
      display: block; }
    .orderform #main .form .required:after {
      content: '*';
      color: #ff0000; }
    .orderform #main .form .required {
      scrollbar-face-color: expression(!this.isInserted==true ? this.isInserted=(this.innerHTML = '' + this.innerHTML + '<span style="color: #ff0000;">*</span>') : ''); }
    .orderform #main .form .input {
      width: 246px;
      height: 25px;
      border: 1px solid #999999;
      margin-bottom: 3px;
      padding: 0 0 0 2px;
      font-size: 13px;
      color: #333;
      height: inherit\9; }
    .orderform #main .form textarea {
      width: 246px;
      height: 68px;
      border: 1px solid #999;
      resize: none;
      vertical-align: top;
      padding: 0 0 0 2px;
      margin-bottom: 10px;
      overflow: auto; }
    .orderform #main .form .coupon {
      border: 2px solid #57668c;
      background-color: #ebeffa;
      width: 376px;
      height: 133px;
      margin-left: 6px;
      text-align: left;
      margin-bottom: 13px; }
      .orderform #main .form .coupon p {
        font-size: 16px;
        font-weight: bold;
        color: #000;
        margin: 13px 0 19px 18px; }
      .orderform #main .form .coupon label {
        display: inline-block;
        *display: inline;
        font-size: 12px;
        margin: 0 0px 0px 18px;
        width: 84px; }
      .orderform #main .form .coupon .inputText {
        border: 1px solid #57668c; }
      .orderform #main .form .coupon button {
        width: 150px;
        height: 30px;
        font-size: 14px;
        margin: 6px 0 0 102px; }
        .orderform #main .form .coupon button span {
          font-size: 13px; }
    .orderform #main .form .lock {
      padding-bottom: 3px;
      vertical-align: middle;
      margin: 0 23px 0 6px;
      cursor: pointer; }
    .orderform #main .form .card {
      vertical-align: top;
      *position: relative;
      top: 3px; }
    .orderform #main .form .firstName {
      width: 98px; }
    .orderform #main .form button {
      width: 150px;
      height: 30px;
      font-size: 14px;
      display: block; }
      .orderform #main .form button span {
        font-size: 13px; }
  .orderform #main .billing {
    margin-bottom: 0px; }
    .orderform #main .billing label {
      margin-left: 0px;
      margin-bottom: 3px; }
    .orderform #main .billing .inputText {
      margin-left: 2px;
      margin-bottom: 4px; }
    .orderform #main .billing button {
      margin-top: 11px; }
    .orderform #main .billing select {
      border: 1px solid #999999;
      height: 27px;
      padding: 3px 0;
      position: relative;
      width: 100px;
      line-height: 21px;
      margin: 6px 6px 0 0; }
    .orderform #main .billing .select {
      width: 140px; }
  .orderform #main .satisfaction {
    background-color: #fdfde1;
    border: 1px solid #d9d9d9;
    width: 378px;
    min-height: 127px;
    margin-top: 22px;
    float: right; }
    .orderform #main .satisfaction .satisfactionText {
      width: 68%;
      float: left;
      padding: 0 0 10px; }
      .orderform #main .satisfaction .satisfactionText h3 {
        color: #B86F1C;
        font-size: 16px;
        font-weight: bold;
        text-align: left;
        padding: 12px 0 0 16px; }
      .orderform #main .satisfaction .satisfactionText p {
        padding: 8px 0 0 16px;
        font-size: 12px;
        line-height: 16px; }
    .orderform #main .satisfaction .satisfactionLogo {
      float: right;
      margin-top: 34px;
      width: 27%; }
  .orderform #main .bottomText {
    color: #999;
    font-size: 12px;
    margin-top: 22px; }






/*---------------------------------------------------------------*/



































/*---------------------------------------------------------------*/




.aboutPage #wrapper #main #pageform {
  padding: 0 5px 0 5px;
}
.aboutPage #wrapper #main .titleHeading {
  margin-top: 10px;
}

.aboutPage #wrapper #main #pageform p {
  margin: 0 0 10px;
}

.aboutPage #wrapper #main #pageform ul {
  list-style: none;
  padding-left: 14px;
}

.aboutPage #wrapper #main #pageform .list {
  width: 463px;
  margin-bottom: 10px; }
.aboutPage #wrapper #main #pageform .list p {
    font-size: 14px;
    font-weight: bold;
    padding-left: 14px; }


.aboutPage #wrapper #main #pageform .left {
  float: left;
}

.aboutPage #wrapper #main #pageform .right {
  float: right;
}



/*---------------------------------------------------------------*/
.jobSearch #wrapper #main { margin-top: 0; }
.jobSearch .statesList {
  margin-top: 10px;
  background: none repeat scroll 0 0 #EBEFFA;
  border: 3px solid #A5C3CB;
  clear: both;
  margin-bottom: 20px;
  margin-top: 10px;
  padding: 10px; }
.jobSearch .statesList .header {
  margin-bottom: 1px; }
.jobSearch .statesList .header h3 {
  color: #0D245B;
  font-size: 130%;
  font-weight: bold;
  margin: 0 0 10px; }
.jobSearch .statesList .content ul {
  float: left;
  list-style: none inside none;
  font-size: small;
  padding-right: 2px; }
.jobSearch p.broseAll {
  margin-top: 10px !important ; }









/*---------------------------------------------------------------*/


.terms #wrapper #main .leftContainer ol {
  margin-left: 30px; }
.terms #wrapper #main .leftContainer li {
  margin-bottom: 5px; }

.terms #wrapper #main .titleHeading {
  margin-top: 0px !important;
}
.terms #wrapper #main .leftContainer .textContent p {
  margin-bottom: 10px; }

.terms #wrapper #main .leftContainer .textContent h1 {
      font-size: 14px;
      font-weight: bold;
      margin: 10px 0;
}


/*---------------------------------------------------------------*/


.privacy #wrapper #main .titleHeading {
  margin-top: 0px !important;
}
.privacy #wrapper #main .leftContainer .textContent p {
  margin-bottom: 10px; }

.privacy #wrapper #main .leftContainer .textContent h1 {
      font-size: 14px;
      font-weight: bold;
      margin: 10px 0;
}



/*---------------------------------------------------------------*/

.criticalNeed #wrapper #main {
  }



/*---------------------------------------------------------------*/



.highPaid #wrapper #main {
  }



/*---------------------------------------------------------------*/

.managerList #wrapper #main {
  margin-top: 10px; }
.managerList #wrapper #main #companybox .column {
  font-size:12px;
  float: left;
  width: 275px;
  margin: 15px 0; }
.managerList #wrapper #main #companybox .column ul {
  list-style: none inside none;
  font-size: small; }

/*---------------------------------------------------------------*/

/*---------------------------------------------------------------*/

.newsletters #wrapper #main .centerContainer .content {
  text-align: center;
}




/*---------------------------------------------------------------*/


.landingPage #wrapper #main {
  margin: 0 auto;
  width: 728px;
}




/*---------------------------------------------------------------*/

.yearBinder #wrapper #main {
  margin-top: 34px;
}
.yearBinder #wrapper #main .content {
  text-align: center;
}






/*---------------------------------------------------------------*/

.applyPreview #wrapper #main .centerContainer .content .formContent {
  background-color: #f7f7f7;
  border-bottom: 1px solid #55658C;
  padding: 10px 10px 5px;
}
.applyPreview #wrapper #main .centerContainer .content .formBlock button {
  margin: 10px 0 0;
}
.applyPreview #wrapper #main .centerContainer .content .formContent #educationOptions {
  display: none;
}
.applyPreview #wrapper #main .centerContainer .content .formContent #educationOptions label {
  width: 100%;
  font-weight: normal;
}
.applyPreview #wrapper #main .centerContainer #applyForm textarea {
  width: 390px;
}


/*---------------------------------------------------------------*/


.buy-guide #wrapper #main .titleHeading {
  margin-top: 10px !important;
}